/* seccion Navbar */
.contenedor {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

header {
    background: url(../imagenes/fondo-big-uno.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
}

header .menu {
    display: flex;
    justify-content: space-between;
}

header .logo{
    display: flex;
    align-items: center;
    color: whitesmoke;
}

header .logo-y-menu {
    display: flex;
    align-items: center;
}

header .menu-icon {
    display: none;
}

header .boton a {
    background: yellow;
    color: #212121;
    padding: 20px 40px;
    line-height: 50px;
    font-size: 13px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 0 15px;
    font-size: 15px;
}

nav ul li a {
    color: whitesmoke;
}

header .btnamari li a{
    color: yellow ;
}

nav ul li a:hover {
    color: orange;
    transition: all 0.5s;
}


header .boton a {
    background: yellow;
    color: #212121;
    padding: 20px 40px;
    line-height: 85px;
}

.botones a {
    background: yellow;
    color: #212121;
    padding: 20px 40px;
    line-height: 50px;
}

header .boton a:hover {
    background-color: orange;
    transition: all 0.5s;
}

header .botones a:hover {
    background-color: orange;
    transition: all 0.5s;
}

header .titular {
    margin-top: 30vh;
    color: whitesmoke;
}

.titular h1 {
    font-size: 20px;
    width: 60%;
}

span{
    color: yellow;
}

.blanco {
    background: whitesmoke !important;
}

.blanco:hover {
    background-color: gray !important;
    color: #212121;
    transition: all 0.1s;
}

@media (max-width: 800px) {
    header .menu {
        flex-direction: column;
    }
    

    header .logo{
        justify-content: space-between;
    }

    header .menu-icon {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav {
        background-color: #212121;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        display: none;
    }

    nav ul li a {
        color: whitesmoke;
    }

    nav ul li {
        margin-bottom: 20px;
    }

    h1 {
        font-size: 32px;
    }

    header .titular {
        margin-top: 29vh;
    }
}

@media (min-width: 801px) {
    nav{
        display: block;
    }
    
}
